DB_URL=jdbc:sqlite:file:./database/aeroluggage.db
AEROPUERTO_FILE_PATH=datos/Aeropuertos.txt
PLANES_VUELO_FILE_PATH=datos/planes_vuelo.txt
ENVIOS_FOLDER_PATH=datos/Envios
FRONTEND_URL=http://localhost:3000,http://localhost:5173
