DB_URL=jdbc:sqlite:file:./database/aeroluggage.db
AEROPUERTO_FILE_PATH=datos/Aeropuertos.txt
CIUDAD_FILE_PATH=datos/planes_vuelo.txt
ENVIOS_FOLDER_PATH=datos/envíos
FRONTEND_URL=http://localhost:5173
